header {
  background-color: #240c38;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.8rem;
}

nav a:hover {
  color: #e52e57;
}
